# This is a configuration file for setting up the sprinkler schedule.

[SprinklerConfig] # don't edit this line
####
## Provide API key.  A free developer's API key is available
# https://openweathermap.org/api
api_key = 7ba1e687e671cf30c3d4ffbb215c89ef

####
## Latitude and longitude where sprinkler is being run.

lat = 52.440502
lon = 19.692295

####
## How long in minutes to run the sprinkler at a time
runtime_min = 1

####
## Rain demand. Sprinkler running time depends of past rain amount.
water_demand_mm = 10

####
## GPIO pins to control the sprinkler
gpio_center = 17
gpio_side = 27
gpio_drip = 22

####
## Choose location and name of log file
log_file = /home/pi/sprinkler.log
